/* css for corona */
.navbar {
    background-color: #01BF71;
    padding: 1em;
    min-height: 1%;
    max-height: 70px;
}

.link-to-home {
    color: #fff;
    justify-self: flex-start;
    cursor: pointer;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    margin-left: 24px;
    margin-top: 5px;
    font-weight: bold;
    text-decoration: none;
}

.app {
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #e4fff4;
}

.box {
    width: 50%;
    background-color: rgb(234, 251, 229);
    margin: auto;
    margin-top: 5%;
    border: 0.1px solid rgba(0, 0, 0, 0.1);
    padding-left: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
    overflow: auto;
}

.header {
    font-size: 2em;
}

.uppperImg {
    display: inline-block;
    margin-left: 20px;
    float: right;
    height: 50%;
    width: 50%;
}

.content {
    width: 50%;
    padding-top: 2em;
}

.hh {
    padding-top: 5em;
}

.myButton {
    margin-top: 8px;
	box-shadow: 3px 4px 0px 0px #3dc21b;
	background:linear-gradient(to bottom, #b4edc3 5%, #5cbf2a 100%);
	background-color:#b4edc3;
	border-radius:15px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#030303;
	font-family:Arial;
	font-size:18px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
	background:linear-gradient(to bottom, #5cbf2a 5%, #b4edc3 100%);
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}

.rbtn {
    padding: 12px 20px;
    background-color: aquamarine;
    border-radius: 10px;
    justify-self: space-between;
    float: right;
    cursor: pointer;
    margin-right: 70px;
}

.lbtn {
    padding: 12px 20px;
    background-color: aquamarine;
    border-radius: 10px;
    justify-self: space-between;
    cursor: pointer;
    float: left;
}

.mrgn {
    margin-left: 20px;
    margin-right: 50px;
}